# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules
dist
dist-ssr
*.local

# PHP
vendor/
composer.lock
uploads/*
!uploads/.htaccess
*.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
config.local.php

# Windows system files
AppData/
.trae/
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk
